body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-104px;
  width:1273px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u480 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:489px;
  width:50px;
  height:80px;
  display:flex;
  transition:none;
}
#u480 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u480_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:81px;
}
#u480_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u481_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(149, 242, 4, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u481 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:499px;
  width:100px;
  height:60px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u481 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u481_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u482 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:529px;
  width:0px;
  height:0px;
  transition:none;
}
#u482_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:131px;
  height:10px;
}
#u482_seg1 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:-10px;
  width:20px;
  height:20px;
}
#u482_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u483_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(149, 242, 4, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u483 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:347px;
  width:100px;
  height:60px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u483 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u483_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u484 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:499px;
  width:0px;
  height:0px;
  transition:none;
}
#u484_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-92px;
  width:10px;
  height:97px;
}
#u484_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-100px;
  width:20px;
  height:20px;
}
#u484_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-61px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u485_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u485 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:499px;
  width:100px;
  height:60px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u485 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u485_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u486 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:529px;
  width:0px;
  height:0px;
  transition:none;
}
#u486_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:183px;
  height:10px;
}
#u486_seg1 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:-10px;
  width:20px;
  height:20px;
}
#u486_text {
  border-width:0px;
  position:absolute;
  left:39px;
  top:-15px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u487_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(245, 154, 35, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u487 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:347px;
  width:100px;
  height:60px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u487 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u487_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u488 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:377px;
  width:0px;
  height:0px;
  transition:none;
}
#u488_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:183px;
  height:10px;
}
#u488_seg1 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:-10px;
  width:20px;
  height:20px;
}
#u488_text {
  border-width:0px;
  position:absolute;
  left:39px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u489_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(245, 154, 35, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u489 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:347px;
  width:100px;
  height:60px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u489 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u489_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u490 {
  border-width:0px;
  position:absolute;
  left:658px;
  top:377px;
  width:0px;
  height:0px;
  transition:none;
}
#u490_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:167px;
  height:10px;
}
#u490_seg1 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:-10px;
  width:20px;
  height:20px;
}
#u490_text {
  border-width:0px;
  position:absolute;
  left:31px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u491_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u491 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:499px;
  width:100px;
  height:60px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u491 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u491_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u492 {
  border-width:0px;
  position:absolute;
  left:658px;
  top:529px;
  width:0px;
  height:0px;
  transition:none;
}
#u492_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:167px;
  height:10px;
}
#u492_seg1 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:-10px;
  width:20px;
  height:20px;
}
#u492_text {
  border-width:0px;
  position:absolute;
  left:31px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u493 {
  border-width:0px;
  position:absolute;
  left:870px;
  top:559px;
  width:0px;
  height:0px;
  transition:none;
}
#u493_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:55px;
}
#u493_seg1 {
  border-width:0px;
  position:absolute;
  left:-545px;
  top:45px;
  width:550px;
  height:10px;
}
#u493_seg2 {
  border-width:0px;
  position:absolute;
  left:-545px;
  top:0px;
  width:10px;
  height:55px;
}
#u493_seg3 {
  border-width:0px;
  position:absolute;
  left:-550px;
  top:-8px;
  width:20px;
  height:20px;
}
#u493_text {
  border-width:0px;
  position:absolute;
  left:-320px;
  top:42px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u494_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(194, 128, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(194, 128, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u494 {
  border-width:0px;
  position:absolute;
  left:1062px;
  top:499px;
  width:100px;
  height:60px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u494 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u494_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u495 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:529px;
  width:0px;
  height:0px;
  transition:none;
}
#u495_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:147px;
  height:10px;
}
#u495_seg1 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:-10px;
  width:20px;
  height:20px;
}
#u495_text {
  border-width:0px;
  position:absolute;
  left:21px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u496_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u496 {
  border-width:0px;
  position:absolute;
  left:1062px;
  top:347px;
  width:100px;
  height:60px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u496 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u496_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u497 {
  border-width:0px;
  position:absolute;
  left:1112px;
  top:347px;
  width:0px;
  height:0px;
  transition:none;
}
#u497_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-57px;
  width:10px;
  height:57px;
}
#u497_seg1 {
  border-width:0px;
  position:absolute;
  left:-509px;
  top:-57px;
  width:514px;
  height:10px;
}
#u497_seg2 {
  border-width:0px;
  position:absolute;
  left:-509px;
  top:-57px;
  width:10px;
  height:57px;
}
#u497_seg3 {
  border-width:0px;
  position:absolute;
  left:-514px;
  top:-12px;
  width:20px;
  height:20px;
}
#u497_text {
  border-width:0px;
  position:absolute;
  left:-302px;
  top:-60px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u498 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:377px;
  width:0px;
  height:0px;
  transition:none;
}
#u498_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:147px;
  height:10px;
}
#u498_seg1 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:-10px;
  width:20px;
  height:20px;
}
#u498_text {
  border-width:0px;
  position:absolute;
  left:21px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u499 {
  border-width:0px;
  position:absolute;
  left:1112px;
  top:407px;
  width:0px;
  height:0px;
  transition:none;
}
#u499_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:97px;
}
#u499_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:80px;
  width:20px;
  height:20px;
}
#u499_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:38px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u500 {
  border-width:0px;
  position:absolute;
  left:870px;
  top:407px;
  width:0px;
  height:0px;
  transition:none;
}
#u500_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:48px;
}
#u500_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:38px;
  width:252px;
  height:10px;
}
#u500_seg2 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:38px;
  width:10px;
  height:54px;
}
#u500_seg3 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:80px;
  width:20px;
  height:20px;
}
#u500_text {
  border-width:0px;
  position:absolute;
  left:74px;
  top:35px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u501 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:499px;
  width:0px;
  height:0px;
  transition:none;
}
#u501_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-55px;
  width:10px;
  height:55px;
}
#u501_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-55px;
  width:514px;
  height:10px;
}
#u501_seg2 {
  border-width:0px;
  position:absolute;
  left:499px;
  top:-55px;
  width:10px;
  height:55px;
}
#u501_seg3 {
  border-width:0px;
  position:absolute;
  left:494px;
  top:-12px;
  width:20px;
  height:20px;
}
#u501_text {
  border-width:0px;
  position:absolute;
  left:202px;
  top:-58px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u502_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u502 {
  border-width:0px;
  position:absolute;
  left:1062px;
  top:686px;
  width:100px;
  height:60px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u502 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u502_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u503 {
  border-width:0px;
  position:absolute;
  left:1112px;
  top:559px;
  width:0px;
  height:0px;
  transition:none;
}
#u503_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:132px;
}
#u503_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:115px;
  width:20px;
  height:20px;
}
#u503_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:56px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u504 {
  border-width:0px;
  position:absolute;
  left:1062px;
  top:716px;
  width:0px;
  height:0px;
  transition:none;
}
#u504_seg0 {
  border-width:0px;
  position:absolute;
  left:-737px;
  top:-5px;
  width:737px;
  height:10px;
}
#u504_seg1 {
  border-width:0px;
  position:absolute;
  left:-737px;
  top:-157px;
  width:10px;
  height:162px;
}
#u504_seg2 {
  border-width:0px;
  position:absolute;
  left:-742px;
  top:-165px;
  width:20px;
  height:20px;
}
#u504_text {
  border-width:0px;
  position:absolute;
  left:-494px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u505 {
  border-width:0px;
  position:absolute;
  left:1162px;
  top:716px;
  width:0px;
  height:0px;
  transition:none;
}
#u505_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:23px;
  height:10px;
}
#u505_seg1 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:-478px;
  width:10px;
  height:483px;
}
#u505_seg2 {
  border-width:0px;
  position:absolute;
  left:-559px;
  top:-478px;
  width:582px;
  height:10px;
}
#u505_seg3 {
  border-width:0px;
  position:absolute;
  left:-559px;
  top:-478px;
  width:10px;
  height:109px;
}
#u505_seg4 {
  border-width:0px;
  position:absolute;
  left:-564px;
  top:-381px;
  width:20px;
  height:20px;
}
#u505_text {
  border-width:0px;
  position:absolute;
  left:-124px;
  top:-481px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u506_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  filter:drop-shadow(none);
  transition:none;
}
#u506 {
  border-width:0px;
  position:absolute;
  left:1277px;
  top:686px;
  width:100px;
  height:60px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u506 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u506_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u507 {
  border-width:0px;
  position:absolute;
  left:1162px;
  top:716px;
  width:0px;
  height:0px;
  transition:none;
}
#u507_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:120px;
  height:10px;
}
#u507_seg1 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:-10px;
  width:20px;
  height:20px;
}
#u507_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u508_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:651px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#95F204;
}
#u508 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:63px;
  width:651px;
  height:28px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#95F204;
}
#u508 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u508_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u509_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:491px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#F59A23;
}
#u509 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:111px;
  width:491px;
  height:28px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#F59A23;
}
#u509 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u509_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u510_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:627px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#C280FF;
}
#u510 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:165px;
  width:627px;
  height:28px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#C280FF;
}
#u510 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u510_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u511 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:559px;
  width:0px;
  height:0px;
  transition:none;
}
#u511_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:164px;
}
#u511_seg1 {
  border-width:0px;
  position:absolute;
  left:-206px;
  top:154px;
  width:211px;
  height:10px;
}
#u511_seg2 {
  border-width:0px;
  position:absolute;
  left:-206px;
  top:10px;
  width:10px;
  height:154px;
}
#u511_seg3 {
  border-width:0px;
  position:absolute;
  left:-211px;
  top:2px;
  width:20px;
  height:20px;
}
#u511_text {
  border-width:0px;
  position:absolute;
  left:-146px;
  top:152px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u512_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:533px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u512 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:725px;
  width:533px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u512 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u512_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u513_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u513 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:307px;
  width:273px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u513 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u513_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u514_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u514 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:783px;
  width:72px;
  height:28px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u514 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u514_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u515_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1060px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:15px;
  line-height:25px;
}
#u515 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:825px;
  width:1060px;
  height:75px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:15px;
  line-height:25px;
}
#u515 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u515_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
