body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1414px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u11783 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1414px;
  height:649px;
  display:flex;
  transition:none;
}
#u11783 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11783_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1414px;
  height:649px;
}
#u11783_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11784 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:675px;
  width:1332px;
  height:814px;
  display:flex;
  transition:none;
}
#u11784 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11784_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1332px;
  height:814px;
}
#u11784_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11785 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:1564px;
  width:1335px;
  height:810px;
  display:flex;
  transition:none;
}
#u11785 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11785_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1335px;
  height:810px;
}
#u11785_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
