body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1706px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u532 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1704px;
  height:700px;
  display:flex;
  transition:none;
}
#u532 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u532_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1704px;
  height:700px;
}
#u532_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u533 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:617px;
  width:1699px;
  height:590px;
  display:flex;
  transition:none;
}
#u533 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u533_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1699px;
  height:590px;
}
#u533_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u534 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1214px;
  width:1699px;
  height:807px;
  display:flex;
  transition:none;
}
#u534 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u534_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1699px;
  height:807px;
}
#u534_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u535 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1997px;
  width:1706px;
  height:806px;
  display:flex;
  transition:none;
}
#u535 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u535_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1706px;
  height:806px;
}
#u535_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
